@namespace ServerSideBlazorApp.Shared

<Pagination>
    <PaginationItem Disabled="@IsFirstPage">
        <PaginationLink Clicked="NavigateToFirstPage">
            <span aria-hidden="true"><i class="fas fa-angle-double-left"></i></span>
        </PaginationLink>
    </PaginationItem>
    <PaginationItem Disabled="@IsFirstPage" Padding="Padding.Is3.FromRight">
        <PaginationLink Clicked="NavigateToPreviousPage">
            <span aria-hidden="true"><i class="fas fa-angle-left"></i></span>
        </PaginationLink>
    </PaginationItem>
    @for (var pageIndex = Pages.First; pageIndex <= Pages.Last; pageIndex++)
    {
        var display = pageIndex.ToString();
        var index = (pageIndex - 1).ToString();

        <PaginationItem Disabled="@IsCurrentPage(pageIndex)" Class="@(IsCurrentPage(pageIndex) ? "active" : string.Empty)">
            <PaginationLink Page="@index" Clicked="@NavigateToPage">@display</PaginationLink>
        </PaginationItem>
    }
    <PaginationItem Disabled="@IsLastPage" Padding="Padding.Is3.FromLeft">
        <PaginationLink Clicked="NavigateToNextPage">
            <span aria-hidden="true"><i class="fas fa-angle-right"></i></span>
        </PaginationLink>
    </PaginationItem>
    <PaginationItem Disabled="@IsLastPage">
        <PaginationLink Clicked="NavigateToLastPage">
            <span aria-hidden="true"><i class="fas fa-angle-double-right"></i></span>
        </PaginationLink>
    </PaginationItem>
    <PaginationItem Margin="Margin.IsAuto.FromLeft.Is5.FromRight">
        <Field Horizontal="true" Margin="Margin.Is0.FromBottom">
            <FieldLabel Padding="Padding.Is3.FromRight">Items per page:</FieldLabel>
            <FieldBody>
                @*<SelectList TItem="int" Data="@AllowedPageSizes" TextField="@(p=>p.ToString())" ValueField="@(p=>p)" SelectedValue="@PageSize" SelectedValueChanged="@(p => ChangePageSize(int.Parse((string)p)))" />*@
            </FieldBody>
        </Field>
    </PaginationItem>
</Pagination>
