@page "/customers"
@implements IDisposable
@inject CustomerService CustomerService
@inject NavigationManager NavigationManager

<PageProgress Visible="@ShowProgressBar" />
<Heading Size="HeadingSize.Is3">Customers</Heading>
<Divider></Divider>
<Card>
    <CardBody>
        <Fields>
            <Field ColumnSize="ColumnSize.Is4" Horizontal="true" Padding="Padding.Is5.FromStart">
                <FieldBody>
                    <Addons>
                        <Addon>
                            <TextEdit Placeholder="Search by name..." DelayTextOnKeyPress="true" DelayTextOnKeyPressInterval="200" Text="@((CurrentPage.PagingParameters as PagingParametersWithSearch).SearchPhrase)" TextChanged="OnSearch" />
                        </Addon>
                        <Addon AddonType="AddonType.End" Display="@(string.IsNullOrEmpty((CurrentPage.PagingParameters as PagingParametersWithSearch).SearchPhrase) ? Display.None : Display.Always)" @onclick="@(() => OnSearch(null))">
                            <span aria-hidden="true"><i class="fas fa-times"></i></span>
                        </Addon>
                    </Addons>
                </FieldBody>
            </Field>
        </Fields>
        <DataGrid TItem="CustomerSummaryModel" Data="@CurrentPage.Data" Striped="true" PageChanged="OnPageChanged" PageSizeChanged="OnPageSizeChanged" ReadData="OnReadData" TotalItems="@CurrentPage.TotalCount" PageSize="@CurrentPage.PagingParameters.Limit" CurrentPage="@((CurrentPage.PagingParameters.Offset / CurrentPage.PagingParameters.Limit) + 1)" Sortable="true" ShowPageSizes="true" ShowPager="true" PageSizes=@AllowedPageSizes>
            <LoadingTemplate>Loading...</LoadingTemplate>
            <FirstPageButtonTemplate><PagingButton Type="PagingButton.PagingButtonType.FirstPage" /></FirstPageButtonTemplate>
            <PreviousPageButtonTemplate><PagingButton Type="PagingButton.PagingButtonType.PreviousPage" /></PreviousPageButtonTemplate>
            <NextPageButtonTemplate><PagingButton Type="PagingButton.PagingButtonType.NextPage" /></NextPageButtonTemplate>
            <LastPageButtonTemplate><PagingButton Type="PagingButton.PagingButtonType.LastPage" /></LastPageButtonTemplate>
            <DataGridColumns>
                <DataGridColumn TItem="CustomerSummaryModel" Field="@nameof(CustomerSummaryModel.Name)" Caption="Name" Sortable="true" SortDirection="SortDirection.Ascending" Width="70%">
                    <DisplayTemplate>
                        @if ((context as CustomerSummaryModel).IsVIP)
                        {
                            <i class='fas fa-crown pr-2'></i>
                        }
                        <Blazorise.Link To="@BuildDetailUrl((context as CustomerSummaryModel).Id)">@((context as CustomerSummaryModel).Name)</Blazorise.Link>
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn TItem="CustomerSummaryModel" Field="@nameof(CustomerSummaryModel.LifetimeValue)" Caption="Lifetime Value" Sortable="true" Width="15%" TextAlignment="TextAlignment.End">
                    <DisplayTemplate>
                        @($"{(context as CustomerSummaryModel)?.LifetimeValue.ToString("c", CultureInfo.CurrentUICulture)}")
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn TItem="CustomerSummaryModel" Field="@nameof(CustomerSummaryModel.CurrentAge)" Caption="Current Age" Sortable="true" />
            </DataGridColumns>
        </DataGrid>
    </CardBody>
</Card>
